{% extends "base.html" %}

{% block title %}Log in - {% endblock %}

{% block header %}Log in{% endblock %}

{% block content %}
{% if form.errors %}<div class="failure">Username and password didn't match any of our users.</div>{% endif %}
<div id="twoway">
    <div class="wrapper">
        <p>Characters @ OpenFurry is a place to keep character descriptions and reference images - if you need to show an artist, simply link them to the character, a morph of that character, or a specific description pertaining to that morph.  You can associate images (following a by-me/for-me policy similar to FurAffinity's) with your characters, morphs, and descriptions.</p>
        <p>Not yet a user? <a href="/register">Why not register?</a></p>
    </div>
    <div class="wrapper">
        <form method="POST" action="/login/">{% csrf_token %}
        <table>
            <tr>
                <th>{{ form.username.label_tag }}</th>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <th>{{ form.password.label_tag }}</th>
                <td>{{ form.password }}</td>
            </tr>
            <tr>
                <td rowspan="2"><input type="submit" value="Log in!" /></td>
            </tr>
        </table>
        <input type="hidden" name="next" value="{{ next }}" />
        </form>
        <p><a href="/accounts/password/reset/">Forgot password</a></p>
    </div>
</div>
{% endblock %}
