{% extends "base.html" %}

{% block title %}Password Reset{% endblock %}

{% block header %}Password Reset{% endblock %}

{% block content %}
Please enter your on-file email below and a link to change your password will be sent to you
<div class="form">
    <form method="post" action="">
        <table>
            <tr>
                <th>{{ form.email.label_tag }}</th>
                <td>{{ form.email }}</th>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="Submit" /></td>
            </tr>
        </table>
    </form>
</div>
{% endblock %}
