{% extends "base.html" %}

{% block title %}Change Password - {% endblock %}

{% block header %} Change Password{% endblock %}

{% block content %}
{% if form.errors %}{% for error in form.errors %}<div class="failure">{{ error }}</div>{% endfor %}{% endif %}
<form method="post" action="/accounts/password/change/">
    <table>
        <tr>
            <th>{{ form.old_password.label_tag }}</th>
            <td>{{ form.old_password }}</td>
        </tr>
        <tr>
            <th>{{ form.new_password1.label_tag }}</th>
            <td>{{ form.new_password1 }}</td>
        </tr>
        <tr />
            <th>{{ form.new_password2.label_tag }}</th>
            <td>{{ form.new_password2 }}</td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Change password" /></td>
        </tr>
    </table>
</form>
{% endblock %}
