{% extends "base.html" %}

{% block title %}Password Reset Confirmation - {% endblock %}

{% block header %}Password Reset Confirmation{% endblock %}


{% block content %}
{% if form.errors %}
<p class="failure">The two new passwords did not match.</p>
{% endif %}
<div class="form">
    <p>Please enter your new password twice so we can verify you typed it in correctly</p>
    <form action="." method="post">
        <table>
            <tr>
                <th>{{ form.new_password1.label_tag }}</th>
                <td>{{ form.new_password1 }}</td>
            </tr>
            <tr>
                <th>{{ form.new_password2.label_tag }}</th>
                <td>{{ form.new_password2 }}</td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="Change Password" /></td>
            </tr>
        </table>
    </form>
</div>
{% endblock %}
