#usercontrol {
    padding-top: 1em;
    padding-right: 1em;
    position: absolute;
    top: 0;
    right: 0;
}

#usercontrol li {
    list-style-type: none;
    padding: 0.25em;
    text-align: right;
}

#header {
    border-bottom: 1px dotted #999;
}

body {
    font-family: 'Gentium Book Basic', serif;
}

body #descriptiontext {
    text-indent: 1.5em;
}

#header h1 {
    /*font-family: 'Cabin', sans-serif;*/
}

#content {
    padding-top: 1em;
    padding-bottom: 1em;
}

.astream {
    max-height: 10em;
    overflow: auto;
}

.plist ul li,
.astream ul li {
    list-style-type: none;
    padding: 0.5em;
}

.odd {
    background-color: #ddf;
}

.even {
    background-color: #eef;
}

.pagination {
    text-align: center;
}

.error {
      border: 2px solid #FBC2C4;
      background-color: #FBE3E4;
      padding: 0.5em;
      display: block;
      max-width: 80%;
      margin: auto;
}

.warning {
      border: 2px solid #FFD324;
      background-color: #FFF6Bf;
      padding: 0.5em;
      display: block;
      max-width: 80%;
      margin: auto;
}

.success {
      border: 2px solid #C6D880;
      background-color: #E6EFC2;
      padding: 0.5em;
      display: block;
      max-width: 80%;
      margin: auto;
}

#footer {
    clear: both;
    border-top: 1px dotted #999;
    position:relative;
}

#footer img {
    vertical-align: middle;
    height: 14pt;
}

th {
    text-align: right;
    vertical-align: top;
}

th, td {
    padding: 0.25em;
}

a, a:active {
    color: #555;
}

a:visited, a:hover {
    color: #777;
}

h1 a,
h1 a:active,
h1 a:visited,
h1 a:hover {
    color: #000;
    text-decoration: none;
}

h3 {
    text-decoration: underline;
}

.icon {
    opacity: 0.75;
    filter: alpha(opacity=75);
    border: 0;
}

.icon:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
}

.thumbR, .descriptionR {
    opacity: 0.10;
    filter: alpha(opacity=10);
    border: 2px solid #F00;
}

.thumbM, .descriptionM {
    opacity: 0.25;
    filter: alpha(opacity=25);
    border: 2px solid #00F;
}

.thumbR:hover, .thumbM:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}

.showdescription {
    opacity: 1;
    filter: alpha(opacity=100);
    border: none;
}

.tipsify {
    border-bottom: 1px dotted #555;
}

.galleryThumb {
    width: 25%!important;
    height: 200px;
    overflow: auto;
}

.addLink {
    padding-left: 1em;
}
