<div id="twoway">
    <div class="wrapper">
        <a href="{{image.fields.image}}"><img ng:src="{{image.fields.image}}" style="max-width: 100%" /></a>
    </div>
    <div class="wrapper">
        <p><strong>Attribution:</strong> {{image.fields.attribution}}</p>
        <p><strong>Rating:</strong> {{image.fields.rating_display}}</p>
        <p><strong>Thumbnail:</strong> <img src="http://lib.jnsq.us/spinner.gif" ng:src="{{image.fields.thumbnail}}" style="vertical-align: top" />
        <ng:switch on="image.is_owner"><div ng:switch-when="true">
            <p class="addLink"><a href="/image/{{image.fields.id}}/edit">Edit this image</a></p>
            <p class="addLink"><a href="/image/{{image.fields.id}}/delete">Delete this image</a></p>
        </div></ng:switch>
        <p class="small">Permalink: <a href="http://c.o-f.co/i/{{image.fields.id}}">http://c.o-f.co/i/{{image.fields.id}}</a></p>
    </div>
</div>
