<div id="twoway">
    <p>Characters  relies on a lot of open source software and other little bits and bobs from around the Net; and here is where credit is given where it is due:</p>
    <dl>
        <dt><a href="http://djangoproject.com" target="_blank">Django</a></dt>
        <dd>MVC framework written in python - drives the back-end of the site. BSD License</dd>
        <dt><a href="http://backbonejs.org" target="_blank">Backbone</a></dt>
        <dd>MVC framework for JavaScript - drives the front-end of portions of the site. MIT License</dd>
        <dt><a href="http://goldengridsystem.com" target="_blank">Golden Grid System</a></dt>
        <dd>Fluid/flexible grid system for layout in CSS - helps keep the site looking good on a desktop and mobile platforms. MIT License</dd>
        <dt><a href="http://jquery.com" target="_blank">jQuery</a></dt>
        <dd>THE JavaScript library - helps with everything. MIT/GPL combined licensing.</dd>
        <dt><a href="http://jqueryui.com" target="_blank">jQueryUI</a></dt>
        <dd>UI library for jQuery - provides dialogs, etc. MIT/GPL combined licensing.</dd>
        <dt><a href="http://fgnass.github.com/spin.js/" target="_blank">Spin.js</a></dt>
        <dd>Imageless spinner plugin for jQuery - used Angular-side. MIT License</dd>
        <dt><a href="http://onehackoranother.com/projects/jquery/tipsy/">Tipsy</a></dt>
        <dd>Tooltip text box plugin for jQuery. MIT License</dd>
        <dt><a href="http://mbostock.github.com/d3/" target="_blank">d3</a></dt>
        <dd>Data visualization library for JavaScript - provides graphs, etc. Free license</dd>
    </dl>
</div>
