{% extends "base.html" %}

{% block title %}{{ morph.name }} (morph) - {% endblock %}

{% block header %}<a href="/~{{ morph.user.username }}">~{{ morph.user.username }}</a> / <a href="{{ morph.character.get_absolute_url }}">{{ morph.character.name }}</a> / {{ morph.gender }} {{ morph.species_text }}{% endblock %}

{% block content %}
<article id="twoway">
    <section class="wrapper">
        <h3>Stats</h3>
        <p><strong>Morph gender:</strong> {{ morph.gender }}</p>
        <p><strong>Morph species text:</strong> {{ morph.species_text }}</p>
        <p><strong>Morph species category:</strong> {{ morph.species_category.name }}</p>
        <p><strong>Morph owner:</strong> <a href="/~{{ morph.user.username }}">{{ morph.user.username }}</a></p>
        <div>
            <h3>Activity stream</h3>
            <ul>
                {% for si in morph.stream_items.all %}
                    <li class="{% cycle "odd" "even" %}"><a href="/~{{ si.user.username }}">~{{ si.user.username }}</a> {{ si.get_action_type_display }} {{ morph.gender }} {{ morph.species_text }} (morph)</li>
                {% endfor %}
            </ul>
        </div>
    </section>
    <section class="wrapper">
        <h3>Descriptions</h3>
        {% for description in morph.description_set.all %}
            <p><a href="{{ description.get_absolute_url }}">{{ description.name }}</a> - <a href="{{ description.get_absolute_url }}/delete">[X]</a></p>
        {% endfor %}
        {% if user == morph.user %}
            <hr />
            <a href="javascript:void(0)" onclick="$('#createDescription').toggle()">+ Add description</a>
            <form method="post" action="/description/create/" id="createDescription" style="display: none">
                {% csrf_token %}
                <input type="hidden" name="morph" value="{{ morph.id }}" />
                <table>
                    <tr>
                        <th><label for="name">Name:</label></th>
                        <td><input type="text" name="name" /></td>
                    </tr>
                    <tr>
                        <th><label for="description">Description:</label></th>
                        <td><textarea name="description"></textarea></td>
                    </tr>
                    <tr>
                        <th><label for="rating">Rating:</label></th>
                        <td>
                            <select name="rating">
                                <option value="G">General</option>
                                <option value="M">Mature</option>
                                <option value="R">Adult</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"><input type="submit" value="Create morph" /></td>
                    </tr>
                </table>
            </form>
        {% endif %}
    </section>
    <section class="wrapper">
        <h3>Images</h3>
        {% for image in morph.images.all %}
            {{ image }}
        {% endfor %}
    </section>
</article>
{% endblock %}
