{% extends "base.html" %}

{% block title %}Delete: {{ description.name }} (description) - {% endblock %}

{% block header %}Delete description: {{ description.name }} from {{ description.morph.gender }} {{ description.morph.species_text }} belonging to {{ description.morph.character.name }}{% endblock %}

{% block content %}
<div id="twoway">
    <div class="wrapper">
        <h3>Confirm!</h3>
        <p>Please make sure you really want to delete this description!  This action cannot be undone!  Images will be detached, but remain uploaded - you can delete them separately.</p>
    </div>
    <div class="wrapper">
        <h3>I agree</h3>
        <p>I understand that this will delete my description.</p>
        <form method="post">
            {% csrf_token %}
            <p><input type="checkbox" name="confirm" /> <label for="confirm"><strong>I agree</strong></label></p>
            <p><input type="submit" value="Delete description" /></p>
        </form>
    </div>
</div>
{% endblock %}

