{% extends "base.html" %}

{% block title %}Edit Description - {% endblock %}

{% block header %}Edit Description{% endblock %}

{% block content %}
<div class="wrapper">
    <form method="post" action=".">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for field in form.hidden_fields %}
        {{ field }}
        {% endfor %}
        <table>
            <tr>
                <th><label for="id_name">Name</label></th>
                <td>{{ form.name }}</td>
                <td>{{ form.name.errors }}</td>
            </tr>
            <tr>
                <th><label for="id_rating">Rating</label></th>
                <td>{{ form.rating }}</td>
                <td>{{ form.rating.errors }}</td>
            </tr>
            <tr>
                <th><label for="id_description">Description</label></th>
                <td>{{ form.description }}</td>
                <td>{{ form.description.errors }}</td>
            </tr>
            <tr>
                <td colspan="3" style="text-align: center"><input type="submit" value="Save Description" /></td>
            </tr>
        </table>
    </form>
</div>
{% endblock %}
