{% extends "base.html" %}

{% block title %}Images (~{{ user_object }}){% endblock %}

{% block header %}<a href="/~{{ user_object.username }}">~{{ user_object.username }}</a> / Images{% endblock %}

{% block content %}
<div class="images" id="twoway">
    <h3>Images</h3>
    {% if user == user_object %}
    <p><a href="/image/create/">+ Add an image</a></p>
    {% endif %}
    {% for image in user_object.image_set.all %}
    <div class="wrapper" style="width: 25%; height: 200px;">
        <a href="{{ image.get_absolute_url }}"><img class="thumb{{ image.rating }}" src="/media/{{ image.thumbnail }}" /></a><br />
        <em>Attribution: {{ image.attribution }}</em>
    </div>
    {% endfor %}
</div>
{% endblock %}
