{% extends "base.html" %}

{% block title %}Password Reset{% endblock %}

{% block header %}Password Reset{% endblock %}

{% block content %}
<div id="twoway">
    <div class="wrapper">
        Please enter your on-file email below and a link to change your password will be sent to you
    </div>
    <div class="wrapper">
        <div class="form">
            <form method="post" action="">
                {% csrf_token %}
                <table>
                    <tr>
                        <th>{{ form.email.label_tag }}</th>
                        <td>{{ form.email }}</th>
                    </tr>
                    <tr>
                        <td colspan="2"><input type="submit" value="Submit" /></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>
{% endblock %}
