{% extends "base.html" %}

{% block head %}
<link rev="canonical" type="text/html" href="http://c.o-f.co/d/{{ description.id }}" />
<script type="text/javascript">
    $(function () {
        $('#imageBay').dialog({ 
            autoOpen: false,
            width: 300,
            height: 400,
            modal: true
        });
    });
</script>
{% endblock %}

{% block title %}{{ description.name }} (description) - {% endblock %}

{% block header %}<a href="/~{{ description.user.username }}">~{{ description.user.username }}</a> / <a href="{{ description.morph.character.get_absolute_url }}">{{ description.morph.character.name }}</a> / <a href="{{ description.morph.get_absolute_url }}">{{ description.morph.gender }} {{ description.morph.species_text }}</a> / {{ description.name }}{% endblock %}

{% block content %}
<div id="twoway">
    <div class="wrapper">
        <h3>Stats</h3>
        <p><strong>Description name:</strong> {{ description.name }}</p>
        <p><strong>Description rating:</strong> {{ description.get_rating_display }}</p>
        <p><strong>Description owner:</strong> <a href="/~{{ morph.user.username }}">{{ description.user.username }}</a></p>
        {% if description.user == user %}
        <p><a href="{{ description.get_absolute_url }}/edit">Edit this description</a></p>
        <p><a href="javascript:void(0)" onclick="$('#imageBay').dialog('open');">Attach image</a></p>
        {% endif %}
        <div class="astream">
            <h3>Activity stream</h3>
            <ul>
                {% for si in description.stream_items.all %}
                <li class="{% cycle "odd" "even" %}" title="{{ si.action_time|date:"DATETIME_FORMAT" }}"><a href="/~{{ si.user.username }}">~{{ si.user.username }}</a> {{ si.get_action_type_display }} {{ description.name }} (description)</li>
                {% endfor %}
            </ul>
        </div>
        <div class="small">Permalink: <a href="http://c.o-f.co/d/{{ description.id }}">http://c.o-f.co/d/{{ description.id }}</a></div>
    </div>
    <div class="wrapper">
        <h3>Description</h3>
        <div>
            {{ description.description|linebreaks }}
        </div>
    </div>
    <div style="clear: left">
        <h3>Images</h3>
        {% for image in description.images.all %}
        {% cycle "<div class=\"wrapper\">" "" %}
        <div class="wrapper" style="height: 200px;{% if forloop.counter0|divisibleby:"4" %} clear: left;{% endif %}">
            <a href="{{ image.image.get_absolute_url }}"><img class="thumb{{ image.image.rating }}" src="/media/{{ image.image.thumbnail }}" alt="{{ image.image.attribution }}" /></a><br />
            {{ image.caption }}
            {% if description.user == user %}
            <a href="/image/{{ image.id }}/detach/">[X]</a>
            {% endif %}
        </div>
        {% cycle "" "</div>" %}
        {% if forloop.last and not forloop.counter|divisibleby:"2" %}
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% if description.user == user %}
<div id="imageBay" title="Attach an image">
    {% for image in user.image_set.all %}
    <form method="post" action="/image/{{ image.id }}/attach/">
        {% csrf_token %}
        <input type="hidden" name="content_type" value="{{ description.get_content_type.id }}" />
        <input type="hidden" name="object_id" value=" {{ description.id }}" />
        <p><input type="image" src="/media/{{ image.thumbnail }}" alt="Attach image" /></p>
        <p><strong>Caption:</strong> <input type="text" name="caption" /></p>
    </form>
    {% if not forloop.last %}
    <hr />
    {% endif %}
    {% endfor %}
</div>
{% endif %}
{% endblock %}
