<html>
    <head>
        <title>{% block title %}{% endblock %}Characters @ OpenFurry</title>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!--[if lt IE 9]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <link href='http://fonts.googleapis.com/css?family=Gentium+Book+Basic|Cabin' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="http://lib.jnsq.us/GGS" />
        <link rel="stylesheet" type="text/css" href="/base.css" />
        <link rel="stylesheet" type="text/css" href="/ui/css/custom-theme/jquery-ui-1.8.16.custom.css" />
        <link rel="stylesheet" type="text/css" href="/tipsy/stylesheets/tipsy.css" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <script type="text/javascript" src="http://lib.jnsq.us/jquery/1.7.2"></script>
        <script type="text/javascript" src="http://lib.jnsq.us/underscore"></script>
        <script type="text/javascript" src="http://lib.jnsq.us/backbone"></script>
        <script type="text/javascript" src="http://lib.jnsq.us/handlebars-runtime"></script>
        <script type="text/javascript" src="http://lib.jnsq.us/spin-js/"></script>
        <script type="text/javascript" src="http://lib.jnsq.us/tipsy/"></script>
        <script type="text/javascript" src="/ui/js/jquery-ui-1.8.16.custom.min.js"></script>
        <script type="text/javascript" src="/backbone/templates.js"></script>
        <script type="text/javascript" src="/backbone/application.js"></script>
            <!--[if !IE]>-->
        <script type="text/javascript" src="http://lib.jnsq.us/d3/"></script>
        <script type="text/javascript" src="http://lib.jnsq.us/d3-layout/"></script>
            <!--<![endif]-->
        <script type="text/javascript">
            $(function() {
                $('.tipsify').tipsy({gravity: $.fn.tipsy.autoWE});
            });
        </script>
        <!--<script type="text/javascript" src="http://lib.jnsq.us/GGS-scriptlet"></script>-->
        {% block head %}{% endblock %}
    </head>
    <body>
        <div id="usercontrol">
            <ul>
                {% if user.is_authenticated %}
                <li><a class="push" href="/~{{ user.username }}">~{{ user.username }}</a></li>
                <li><a href="/logout">Log out</a></li>
                {% else %}
                <li><a href="/login">Log in</a></li>
                <li><a href="/register">Register</a></li>
                {% endif %}
                <li><a href="/users">Users</a></li>
                <li><a href="/locations">Locations</a></li>
            </ul>
        </div>
        <div class="ui-helper-clearfix" id="header">
            <div class="wrapper">
                <h1><a href="/" class="push">Characters</a></h1>
                <h2 id="breadcrumbs">{% block header %}{% endblock %}</h2>
            </div>
        </div>

        <div id="messages">
            {% for message in messages %}
            {{ message|safe }}
            {% endfor %}
        </div>
        <div id="content" class="ui-helper-clearfix">
        </div>

        <div id="imageBay" style="display: none"></div>

        <div id="footer" class="wrapper ui-helper-clearfix">
            Powered by charref.jnsq.us - a <img class="jnsq" src="http://lib.jnsq.us/jnsq-logo.png" /> project
            <a href="https://github.com/makyo/charref"><img style="position: absolute; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>
        </div>
        <div id="nnt" style="display:none;visibility:hidden">
            {% csrf_token %}
        </div>
    </body>
</html>
