<html>
    <head>
        <title>{% block title %}{% endblock %}Characters @ OpenFurry</title>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!--[if lt IE 9]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <link href='http://fonts.googleapis.com/css?family=Gentium+Book+Basic|Federo' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="http://lib.jnsq.us/GGS" />
        <link rel="stylesheet" type="text/css" href="/base.css" />
        <link rel="stylesheet" type="text/css" href="/ui/css/custom-theme/jquery-ui-1.8.16.custom.css" />
        <link rel="stylesheet" type="text/css" href="/tipsy/stylesheets/tipsy.css" />
        <script type="text/javascript" src="http://lib.jnsq.us/jquery/1.6.2"></script>
        <script type="text/javascript" src="http://lib.jnsq.us/tipsy/"></script>
        <script type="text/javascript" src="/ui/js/jquery-ui-1.8.16.custom.min.js"></script>
        <script type="text/javascript">
            $(function() {
                $('.tipsify').tipsy({gravity: $.fn.tipsy.autoWE});
            });
        </script>
        <!--<script type="text/javascript" src="http://lib.jnsq.us/GGS-scriptlet"></script>-->
        {% block head %}{% endblock %}
    </head>
    <body>
        <div id="usercontrol">
            <ul>
                {% if user.is_authenticated %}
                <li><a href="/~{{ user.username }}">~{{ user.username }}</a></li>
                <li><a href="/logout">Log out</a></li>
                {% else %}
                <li><a href="/login">Log in</a></li>
                <li><a href="/register">Register</a></li>
                {% endif %}
                <li><a href="/users">Users</a></li>
                <li><a href="/locations">Locations</a></li>
            </ul>
        </div>
        <div class="ui-helper-clearfix" id="header">
            <div class="wrapper">
                <h1><a href="/">Characters</a></h1>
                <h2>{% block header %}{% endblock %}</h2>
            </div>
        </div>

        <div id="content" class="ui-helper-clearfix">
            {% for message in messages %}
            {{ message|safe }}
            {% endfor %}
            {% block content %}{% endblock %}
        </div>


        <div id="footer" class="wrapper ui-helper-clearfix">
            Powered by charref.jnsq.us - a <img src="http://lib.jnsq.us/jnsq-logo.png" /> project
        </div>
    </body>
</html>
