<html>
    <head>
        <title>{% block title %}{% endblock %}Characters @ OpenFurry</title>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!--[if lt IE 9]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <link rel="stylesheet" type="text/css" href="http://lib.jnsq.us/GGS" />
        <link rel="stylesheet" type="text/css" href="/base.css" />
        <script type="text/javascript" src="http://lib.jnsq.us/jquery/1.6.2"></script>
        <script type="text/javascript" src="http://lib.jnsq.us/GGS-scriptlet"></script>
        {% block head %}{% endblock %}
    </head>
    <body>
        <header>
            <div class="wrapper">
                <h1>Characters</h1>
                <h2>{% block header %}{% endblock %}</h2>
            </div>
        </header>

        {% block content %}{% endblock %}

        <footer class="wrapper">
            Powered by charref.jnsq.us - a <img src="http://lib.jnsq.us/jnsq-logo.png" /> project
        </footer>
    </body>
</html>
