{% extends "base.html" %}

{% block head %}
<link rev="canonical" type="text/html" href="http://c.o-f.co/c/{{ character.id }}" />
<script type="text/javascript">
    $(function () {
        $('#imageBay').dialog({
            autoOpen: false,
            width: 300,
            height: 400,
            modal: true
        });
        $('#createMorph').dialog({
            autoOpen: false,
            width: 400,
            height: 200,
            modal: true
        });
        $('#gender-preselect').change(function(event) {
            var preselect = this;
            $('#gender').val($(preselect).val());
            if ($(preselect).val() == "Other") {
                $('#gender').show();
            } else {
                $('#gender').hide();
            }
        });
    });
</script>
{% endblock %}

{% block title %}{{ character.name }} (character) - {% endblock %}

{% block header %}<a href="/~{{ character.user.username }}">~{{ character.user.username }}</a> / {{ character.name }}{% endblock %}

{% block content %}
<div id="twoway">
    <div class="wrapper">
        <h3>Stats</h3>
        <p><strong>Character name:</strong> {{ character.name }}</p>
        <p><strong>Character owner:</strong> <a href="/~{{ character.user.username }}">{{ character.user.username }}</a></p>
        {% if character.user == user %}
        <p class="addLink"><a href="{{ character.get_absolute_url }}/edit">Edit this character</a></p>
        <p class="addLink"><a href="javascript:void(0)" onclick="$('#imageBay').dialog('open');">Attach image</a></p>
        {% endif %}
        <!--<div class="astream">
            <ul>
                {% for si in character.stream_items.all %}
                <li class="{% cycle "odd" "even" %}" title="{{ si.action_time|date:"DATETIME_FORMAT" }}"><a href="/~{{ si.user.username }}">~{{ si.user.username }}</a> {{ si.get_action_type_display }} {{ character.name }} (character)</li>
                {% endfor %}
            </ul>
        </div>-->
        <div class="small">Permalink: <a href="http://c.o-f.co/c/{{ character.id }}">http://c.o-f.co/c/{{character.id }}</a></div>
    </div>
    <div class="wrapper">
        <h3>Morphs</h3>
        {% for morph in character.morph_set.all %}
        <p><a href="{{ morph.get_absolute_url }}">{{ morph.gender }} {{ morph.species_text }}</a>
        {% if character.user == user %}
        - <a href="{{ morph.get_absolute_url }}/delete">[X]</a></p>
        {% endif %}
        {% endfor %}
        {% if user == character.user %}
            <hr />
            <p class="addLink"><a href="javascript:void(0)" onclick="$('#createMorph').dialog('open')">+ Add morph</a></p>
            <div id="createMorph" title="Create morph">
                <form method="post" action="/morph/create/">
                    {% csrf_token %}
                    <input type="hidden" name="character" value="{{ character.id }}" />
                    <table>
                        <tr>
                            <th><label for="gender">Gender:</label></th>
                            <td>
                                <select id="gender-preselect">
                                    <option value="">-- Select --</option>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                    <option value="Other">Other...</option>
                                </select>
                                <input type="text" id="gender" name="gender" style="display: none" />
                            </td>
                        </tr>
                        <tr>
                            <th><label class="tipsify" title="This is just a generic category used for organization; feel free to specify whatever you want in 'species text'!" for="species_category">Species category</label></th>
                            <td>{{ species_select|safe }}</td>
                        </tr>
                        <tr>
                            <th><label for="species_text">Species:</label></th>
                            <td><input type="text" name="species_text" /></td>
                        </tr>
                        <tr>
                            <td colspan="2"><input type="submit" value="Create morph" /></td>
                        </tr>
                    </table>
                </form>
            </div>
        {% endif %}
    </div>
    <div style="clear: left">
        <h3>Images</h3>
        {% for image in character.images.all %}
        {% cycle "<div class=\"wrapper\">" "" %}
        <div class="wrapper" style="height: 200px;{% if forloop.counter0|divisibleby:"4" %} clear: left;{% endif %}">
            <a href="{{ image.image.get_absolute_url }}"><img class="thumb{{ image.image.rating }}" src="/media/{{ image.image.thumbnail }}" alt="{{ image.image.attribution }}" /></a><br />
            {{ image.caption }}
            {% if character.user == user %}
            <a href="/image/{{ image.id }}/detach/">[X]</a>
            {% endif %}
        </div>
        {% cycle "" "</div>" %}
        {% if forloop.last and not forloop.counter|divisibleby:"2" %}
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}
