{% extends "base.html" %}

{% block title %}{{ user_object.username }} (user) - {% endblock %}

{% block header %}~{% if not user_object.is_active %}<s>{% endif %}{{ user_object.username }}{% if not user_object.is_active %}</s>{% endif %}{% endblock %}

{% block content %}
<div id="twoway">
    <div class="wrapper">
        <h3>Stats</h3>
        <p><strong>Username:</strong> {% if not user_object.is_active %}<s>{% endif %}{{ user_object.username }}{% if not user_object.is_active %}</s>{% endif %}
            {% if user_object.is_superuser %}<em>Superuser!</em>{% else %}{% if user_object.is_staff %}<em>Staff!</em>{% endif %}{% endif %}
        </p>
        <p><strong>Name:</strong> {{ user_object.get_full_name }}</p>
        <p><strong>User since:</strong> {{ user_object.date_joined|date:"SHORT_DATE_FORMAT" }}
        <p><strong>Characters:</strong> {{ user_object.character_set.count }}
        <p><strong>Morphs:</strong> {{ user_object.morph_set.count }}
        <p><strong>Descriptions:</strong> {{ user_object.description_set.count }}
        <p><strong>Locations (as owner):</strong> {{ user_object.description_set.count }}
        {% if user == user_object %}
            <hr />
            <a href="javascript:void(0)" onclick="$('#updateform').toggle()">Edit info</a>
            <div id="updateform" style="display: none">
                {% for error in form.errors %}
                    {{ error }}
                {% endfor %}
                <form method="post" action="/~{{ user.username }}/edit/">
                    {% csrf_token %}
                    <table>
                        <tr>
                            <th><label for="firstname">First name:</label></th>
                            <td><input type="text" name="first_name" value="{{ user.first_name }}" /></td>
                        </tr>
                        <tr>
                            <th><label for="firstname">Last name:</label></th>
                            <td><input type="text" name="last_name" value="{{ user.last_name }}" /></td>
                        </tr>
                        <tr>
                            <th><label for="firstname">E-mail:</label></th>
                            <td><input type="text" name="email" value="{{ user.email }}" /></td>
                        </tr>
                        <tr>
                            <td colspan="2"><input type="submit" value="Save" /></td>
                        </tr>
                    </table>
                </form>
            </div>
        {% endif %}
    </div>
    <div class="wrapper">
        <h3>Characters</h3>
        {% for character in user_object.character_set.all %}
            <p><a href="{{ character.get_absolute_url }}">{{ character.name }}</a> - <a href="{{character.get_absolute_url }}/delete/">[X]</a></p>
        {% endfor %}
        {% if user == user_object %}
            <a href="javascript:void(0)" onclick="$('#addCharacter').toggle()">+ Add Character</a>
            <form method="post" action="/character/create/" id="addCharacter" style="display: none">
                {% csrf_token %}
                <table>
                    <tr>
                        <th><label for="name">Character name:</label></th>
                        <td><input type="text" name="name" /></td>
                    </tr>
                    <tr>
                        <td colspan="2"><input type="submit" value="Create character" /></td>
                    </tr>
                </table>
            </form>
        {% endif %}
    </div>
    <div class="wrapper">
        <h3>Images</h3>
        {% for image in user_object.image_set.all %}
        <a href="{{ image.get_absolute_url }}"><img src="/media/{{ image.thumbnail }}" /></a>
        {% endfor %}
    </div>
</div>
{% endblock %}
