<div id="twoway">
    <div class="wrapper">
        <h3>Stats</h3>
        <p><strong>Description name:</strong> {{description.fields.name}}</p>
        <p><strong>Description rating:</strong> {{description.fields.rating_display}}</p>
        <p><strong>Description owner:</strong> <a href="#/~{{description.fields.user}}">{{description.fields.user}}</a></p>
        <ng:switch on="description.is_owner"><div ng:switch-when="true">
            <p class="addLink"><a href="/description/{{description.fields.id}}/edit">Edit this description</a></p>
            <p class="addLink"><a href="javascript:void(0)" onclick="$('#imageBay').dialog(ibDialogOptions);">Attach image</a></p>
        </div></ng:switch>
        <p class="small">Permalink: <a href="http://c.o-f.co/d/{{description.fields.id}}">http://c.o-f.co/d/{{description.fields.id}}</a></p>
    </div>
    <div class="wrapper">
        <h3>Description</h3>
        <ng:switch on="description.fields.rating">
            <p style="display: none" ng:switch-when="G"></p>
            <p ng:switch-default class="small">Click to show in full</p>
        </ng:switch>
        <div id="descriptiontext" onclick="$(this).toggleClass('showdescription');" class="description{{description.fields.rating}}">
            {{description.fields.description|linebreaks|html}}
        </div>
    </div>
    <div style="clear: left">
        <h3>Images</h3>
        <div ng:repeat="image in description.images" class="wrapper galleryThumb" style="height: 200px;">
            <a href="#/image/{{image.image_id}}"><img class="thumb{{image.rating}}" ng:src="{{image.thumbnail}}" alt="{{image.attribution}}" /></a><br />
            {{image.caption}}
            <ng:switch on="description.is_owner"><a ng:switch-when="true" href="/image/{{image.id}}/detach/">[X]</a></ng:switch>
        </div>
    </div>
</div>
<ng:switch on="description.is_owner"><div ng:switch-when="true">
    <div id="imageBay" title="Attach an image" style="display: none">
        <div ng:repeat="image in images">
            <form method="post" action="/image/{{image.pk}}/attach/">
                <div class="ntn"></div>
                <input type="hidden" name="content_type" value="{{description.content_type_id}}" />
                <input type="hidden" name="object_id" value="{{description.fields.id}}" />
                <p><input type="image" ng:src="/media/{{image.fields.thumbnail}}" alt="Attach image" /></p>
                <p><strong>Caption:</strong> <input type="text" name="caption" /></p>
                <hr />
            </form>
        </div>
    </div>
</div></ng:switch>
<script type="text/javascript">
    var ibDialogOptions = { 
        width: 300,
        height: 400,
        modal: true
    };
    //$(document).ready(function() {
        $('.ntn').append($('#nnt').html());
    //});
</script>
